{% extends 'layout.twig' %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profit_loss') }}
{% endblock %}

{% block title %}Reports{% endblock %}

{% block content %}
    <div class="JobType container content-body">
    <h2 class="bold mb-2 text-primary d-flex justify-content-center align-items-center">Profit/Loss Reports</h2>
            <div class="d-flex justify-content-end text-start mb-4">
                <div>
                    <span>From</span>
                    <input type="date" name="from" min="" class="form-control form-control-sm" required />
                </div>
                <div class="mx-2">
                    <span>To</span>
                    <input type="date" name="to" min="" class="form-control form-control-sm" required />
                </div>
            </div>
            <div class="d-flex justify-content-end mb-4">
                <div>
                    <button type="button" class="btn btn-primary text-white search-date-btn" >
                    Get Report
                    </button>
                </div>
            </div>

            <div class="">
                <table id="profitLossReports" class="row-border hover compact order-column stripe d-none my-4">
                    <thead>
                        <tr>
                            <th>Total Sales</th>
                            <th>Total Payments</th>
                            <th>Total Expenses</th>
                            <th>Expected Net</th>
                            <th>Actual Net</th>
                            <th>Net Difference</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot class="fw-bolder text-primary">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="">
                <div class="mx-4" style="width: 800px; height:500px;">
                    <canvas id="myChart" class="d-none"></canvas>
                </div>
            </div>
            <div class="">
                <div class="mx-4" style="width: 800px; height: 500px;">
                    <canvas id="myChart2" class="d-none"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
