{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('expenses') }}
{% endblock %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class="Expenses container content-body">
    <h2 class="bold mb-2 text-primary d-flex justify-content-center align-items-center mb-5">Expenses</h2>
        <div class="d-flex justify-content-end mb-4 gy-2 gx-3">
            <div class="">
                <button type="button" class="btn btn-primary text-white text-start" id="categoryBtn">
                Category
                </button>
                <button type="button" class="btn btn-primary text-white text-start" id="sponsorBtn">
                Sponsor
                </button>
                <button type="button" class="btn btn-primary text-white text-end" id="expenseModalBtn" data-bs-toggle="modal" data-bs-target="#newExpenseModal">
                <i class="bi bi-plus-circle "></i>
                Expense
                </button>
            </div>
        </div>
{% include 'expense/expense_modal.twig' with {modal: {title: 'Record Expense', id: 'newExpenseModal', isEdit: false}} %}
{% include 'expense/expense_modal.twig' with {modal: {title: 'Edit Expense', id: 'editExpenseModal', isEdit: true}} %}

            <table id="expenseTable" class="row-border hover compact order-column stripe">
                <thead>
                    <tr>
                        <th>Date Spent</th>
                        <th>Sponsor</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot class="fw-bolder text-primary">
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
                </tfoot>
            </table>
    </div>
{% endblock %}
