{% extends 'layout.twig' %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('expense_reports') }}
{% endblock %}

{% block title %}Reports
{% endblock %}

{% block content %}
	<div class="Expenses container content-body">
		<h2 class="bold mb-2 text-primary d-flex justify-content-center align-items-center">Expense Reports</h2>
		<div class="d-flex justify-content-end text-start mb-4">
			<div>
				<span>From</span>
				<input type="date" name="from" min="" class="form-control form-control-sm" required/>
			</div>
			<div class="mx-2">
				<span>To</span>
				<input type="date" name="to" min="" class="form-control form-control-sm" required/>
			</div>
		</div>
		<div class="d-flex justify-content-end mb-4">
			<div>
				<button type="button" class="btn btn-primary text-white search-date-btn">
					Get Report
				</button>
			</div>
		</div>

		{% include 'reports/expenses/list_expenses_modal.twig' with {modal: {title: 'List of Expenses', id: 'listExpensesModal', isMonth: false }} %}

		<div class="container">
			<table id="expenseReports" class="row-border hover compact order-column d-none stripe my-4">
				<thead>
					<tr>
						<th>Category</th>
						<th>Amount</th>
						<th>No. of Expenses</th>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot class="fw-bolder text-primary">
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="overflow-auto">
			<div class="mx-4" style="width: 800px; height:500px;">
				<canvas id="myChart" class="d-none"></canvas>
			</div>
		</div>
		<div class="overflow-auto">
			<div class="mx-4" style="width: 800px; height: 500px;">
				<canvas id="myChart2" class="d-none"></canvas>
			</div>
		</div>
	</div>
{% endblock %}
