{% extends 'layout.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('payments') }}
{% endblock %}

{% block title %}Payments Table
{% endblock %}

{% block content %}
	<div class="Payment container content-body">
		<h2 class="bold mb-2 text-primary d-flex justify-content-center align-items-center">Payments Table</h2>
		<div class="text-end mb-4">
			<button type="button" class="btn btn-primary text-white" id="payDetails" data-bs-toggle="modal" data-bs-target="">
				Pay Status
			</button>
		</div>
		{% include 'payments/payment_modal.twig' with {modal: {title: 'Record Payment', id: 'newPaymentModal', isEdit: false}} %}
		{% include 'payments/payment_modal.twig' with {modal: {title: 'Edit Payment', id: 'editPaymentModal', isEdit: true}} %}

		<div class="">
			<table id="paymentTable" class="row-border hover compact order-column stripe">
				<thead>
					<tr>
						<th>Created At</th>
						<th>Client</th>
						<th>Job type</th>
						<th>Date Received</th>
						<th>Paid</th>
						<th>Balance</th>
						<th>Method</th>
						<th>By</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
				<tfoot class="fw-bolder text-primary">
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
{% endblock %}
